USE [master]
GO
/****** Object:  Database [blood bank]    Script Date: 9/21/2026 10:26:33 AM ******/
CREATE DATABASE [blood bank]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'blood bank', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\blood bank.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'blood bank_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\blood bank_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [blood bank].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [blood bank]
GO
/****** Object:  Table [dbo].[Bloodstock]    Script Date: 9/21/2026 10:26:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bloodstock](
	[bid] [int] IDENTITY(1,1) NOT NULL,
	[blood_group] [varchar](50) NOT NULL,
	[quantity] [varchar](500) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[bid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Login_tbl]    Script Date: 9/21/2026 10:26:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Login_tbl](
	[Username] [varchar](50) NOT NULL,
	[Pass] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[newDonor]    Script Date: 9/21/2026 10:26:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[newDonor](
	[did] [int] IDENTITY(1,1) NOT NULL,
	[dname] [varchar](250) NOT NULL,
	[fname] [varchar](250) NOT NULL,
	[dob] [varchar](250) NOT NULL,
	[mobile] [bigint] NOT NULL,
	[gender] [varchar](25) NOT NULL,
	[email] [varchar](250) NOT NULL,
	[bloodgroup] [varchar](250) NOT NULL,
	[city] [varchar](150) NOT NULL,
	[daddress] [varchar](500) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[did] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Bloodstock] ON 

INSERT [dbo].[Bloodstock] ([bid], [blood_group], [quantity]) VALUES (1, N'A+', N'205')
INSERT [dbo].[Bloodstock] ([bid], [blood_group], [quantity]) VALUES (2, N'A-', N'250')
INSERT [dbo].[Bloodstock] ([bid], [blood_group], [quantity]) VALUES (3, N'B+', N'190')
SET IDENTITY_INSERT [dbo].[Bloodstock] OFF
GO
INSERT [dbo].[Login_tbl] ([Username], [Pass]) VALUES (N'2025', N'demo123')
GO
SET IDENTITY_INSERT [dbo].[newDonor] ON 

INSERT [dbo].[newDonor] ([did], [dname], [fname], [dob], [mobile], [gender], [email], [bloodgroup], [city], [daddress]) VALUES (2, N'Ali', N'Hassan', N'11/1/2025', 3030303030, N'Male', N'ali@gmail.com', N'A+', N'Hyderabad', N'Hyderabad')
INSERT [dbo].[newDonor] ([did], [dname], [fname], [dob], [mobile], [gender], [email], [bloodgroup], [city], [daddress]) VALUES (3, N'Sara', N'Saleem', N'11/1/2025', 3030303030, N'Female', N'sara@gmail.com', N'AB+', N'Hyderabad', N'Hyderabad')
INSERT [dbo].[newDonor] ([did], [dname], [fname], [dob], [mobile], [gender], [email], [bloodgroup], [city], [daddress]) VALUES (4, N'Aqsa', N'Ahmed', N'11/1/2025', 3030303030, N'Female', N'aqsa@gmail.com', N'B+', N'Karachi', N'Karachi')
SET IDENTITY_INSERT [dbo].[newDonor] OFF
GO
USE [master]
GO
